body {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	background: #131313;
}

.container {
	width: 1002px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;

}

.logo-wrapper {
	display: flex;
	justify-content: center;
	width: 1000px;
	height: 150px;
	margin: 0;
	padding: 0;


}

.nav {
margin: 10px 0;
padding: 0;
width: 1000px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;


}


.nav-item {
	margin: 5px;
	padding: 5px;
	width: 20%;
	height: 40px;
	border: 3px solid #1c1c1c;
	color: lightgrey;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	transition: border 0.3s ease-out;
	transition: text-shadow 0.2s ease-out;
	cursor: pointer;

}



.nav-item:hover {
	border: 3px solid #f5f5f5;
	text-shadow: 0px 0px 6px rgba(245,245,245,0.4);
}


.nav-item-text {
	font-family: 'Vollkorn', serif;
    font-size: 120%; 
    cursor: pointer;
}


.logo {
	margin: 0;
	padding: 0;
	width: 282px;
	height: 142px;
	cursor: pointer;
 	transition: filter 0.1s ease-out;
}

.logo:hover {
	filter: drop-shadow(0px 0px 1px #dbdbdb);
}


.buttonup {
  	visibility: hidden;
}

.buttonup-active {
	top:  100px;
	width: 55px;
	height: 55px;
	position: fixed;
  	z-index: 10;
  	left: calc((100% - 800px)/4 );
  	visibility: visible;
  	cursor: pointer;
  	opacity: 0.3;
	transition: opacity 0.2s ease-out;
}

.buttonup-active:hover {
	opacity: 1;

}